.banner-holder {
    background-image: url(img/bannerBack.png);
    background-size: cover;
}


#serviceTabs .nav-link.active {
    background-color: #F7A582;
    color: #000000;
}

.carousel-control-prev,
.carousel-control-next {
    width: 17%;
    opacity: 1;
}

.custom-prev-icon,
.custom-next-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    border: 1px solid #F7A582;
    color: #F7A582;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.carousel-control-next .custom-next-icon {
    background-color: #F7A582;

    color: white;
}


.btn-outline-peach {
    background: white;
    color: #F7A582;
    border-color: #F7A582;
    transition: all 0.3s ease;
}

.btn-outline-peach:hover {
    background-color: #F7A582;
    color: white;
    border-color: #F7A582;
}


/* Styling the input fields */
.custom-input {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 12px 20px;
}

/* Change placeholder color */
.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* Book Now button color */
.btn-book-now  {
    background-color: #F7A582;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-book-now:hover {
    background: #c25627;
    color: white;
}